// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Css for the devise forms
.panel-boundary {
  border: 0.2rem solid #f7f7f9;
  border-radius: 4px;
  padding: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  background-color: #f7f7f9;
}